<% unless @chats.empty? %>
  <h1>Choose your chat</h1>
  <ul class="chats_list">
    <% @chats.each do |chat| %>
      <li><h2><%= link_to chat.name, chat_path(chat) %></h2></li>
    <% end %>
  </ul>
<% else %>
  <div class="empty_list">
    <p>Not chats have yet been created.</p> 
  </div>
<% end %>
<div class="new_chat_form">
  <h2>Create a new chat</h2>
  <%= form_for @chat do |f| %>
    <%= f.text_field :name, :class => "input_main" %>
    <%= f.submit 'Create', :class => "button"%>
  <% end %>
</div>
